.countdownPage {
  height: 100vh;
  display: flex;
    flex-direction: column;
  background-image:
    url(../assets/images/pattern-hills.svg),
    url(../assets/images/bg-stars.svg);
    background-repeat: 
        no-repeat,
        no-repeat;
    background-size: 
        auto 20rem,
        cover;
    background-position:
        bottom,
        center;
    background-position-x: 
        -89rem,
        center;
    background-attachment:
        fixed,
        fixed;
}
.countdownTimer {
    width: 100vw;
    height: 80vh;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.countdownTimer__title {
    width: 75%;
    text-align: center;
    letter-spacing: .75rem;
    font-size: var(--font-size-title);
    font-weight: 700;
    margin-bottom: var(--margin-base);
    color: var(--color-white);
}
.countdownTimer__wrapper {
    width: 90%;
    height: auto;
    display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
}
.countdownTimer__block {
    width: 7rem;
    height: 9rem;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
    /* box-shadow: 0 0 3rem rgba(255, 255, 255, 0.5); */
}
.countdownTimer__container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    /* background-color: aqua; */
}
.countdownTimer__number {
    font-size: var(--font-size-number);
    font-weight: 700;
    color: var(--color-soft-red);
}
.countdownTimer__subtitle {
    margin-top: auto;
    letter-spacing: .3rem;
    font-size: var(--font-size-small);
    color: var(--color-grayish-blue);
}
.countdownFooter {
    width: 100vw;
    height: 20vh;
    display: flex;
}
.countdownFooter__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;
}
.countdownFooter__icon {
    width: 2rem;
    height: 2rem;
    filter: unset;
    transition: filter 0.3s ease;
}

@media (min-width: 1024px) {
    .countdownFooter__link:hover .countdownFooter__icon {
        filter: brightness(0) saturate(100%) invert(32%) sepia(79%) saturate(1601%) hue-rotate(315deg) brightness(102%) contrast(90%);
    }
}
